@charset "UTF-8";
#index-mainBody .main .main-l {
    width: 850px;
    border: 1px solid #E3E3E3;
}

#index-mainBody .main-l .main-l-t .tab-1 {
    padding: 20px 20px 0 29px;
    position: relative;
    font-size: 20px;
    color: #717171;
    margin-bottom: 10px;
}
#index-mainBody .main-l .main-l-t .tab-1 .title1 {
    position: relative;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 15px;
}
#index-mainBody .main-l .main-l-t .tab-1 .title1 a {
    color: #fff;
    padding: 4px 9px 4px 11px;
    background-color: #d75f61;
    font-size: 14px;
    border-radius: 4px;
}
#index-mainBody .main-l .main-l-t .tab-1 .title1 div {
    position: relative;
    padding-left:3px;
    font-size: 20px;
    color: #d75f61;
}

#index-mainBody .main-l .main-l-t .tab-1 .line {
    position: absolute;
    left: 29px;
    bottom: 0;
    width: 86px;
    height: 2px;
    background-color: #d75f61;
}
#index-mainBody .main-l .main-l-t .tab-1 .line:before {
    content: '';
    border: 8px solid;
    border-color: #d75f61 transparent transparent transparent;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left:-10px;
}

#index-mainBody .main-l .main-l-t .ul-box {
    padding: 29px 20px 0 29px;
}
#index-mainBody .main-l .main-l-t .ul-box li {
    margin-bottom: 20px;
    font-size: 14px;
}
#index-mainBody .main-l .main-l-t .ul-box li span {
    text-align: center;
    color: #fff;
    background-color: #d4d4d4;
    display: inline-block;
    width: 19px;
}
#index-mainBody .main-l .main-l-t .ul-box li:nth-child(1) span,
#index-mainBody .main-l .main-l-t .ul-box li:nth-child(2) span,
#index-mainBody .main-l .main-l-t .ul-box li:nth-child(3) span,
#index-mainBody .main-l .main-l-t .ul-box li:nth-child(4) span,
#index-mainBody .main-l .main-l-t .ul-box li:nth-child(5) span {
    background-color: #f88c68;
}

#index-mainBody .main-l .main-l-t .ul-box li a {
    display: inline;
}
#index-mainBody .main-l .main-l-t .ul-box li a p {
    display: inline;
}

#index-mainBody .main-r .main-r-m {
    height: 354px;
    width: 325px;
    position: relative;
    overflow: hidden;
    background: url(/skins/images/xtb/08.png) no-repeat center 15px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-box {
    width: 110px;
    height: 110px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

#index-mainBody .main-r .main-r-m .zhuanjia-box ul {
    width: 1000%;
    height: 100%;
    position: absolute;
    left: -4px;
    top: -5px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-box ul li {
    width: 118px;
    height: 118px;
    float: left;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content {
    position: relative;
    width: 1000%;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li {
    float: left;
    width: 325px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li .name {
    color: #c13528;
    font-size: 18px;
    margin-top: 20px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li .name span {
    margin-left: 100px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li .name a {
    display: inline;
    font-size: 15px;
    color: #fff;
    background-color: #f37548;
    padding: 3px 6px 3px 16px;
    border-radius: 4px;
    letter-spacing: 10px;
    margin-right: 70px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li p {
    text-indent: 2em;
    line-height: 32px;
    margin-top: 20px;
    padding: 0 8px;
    color: #474747;
    font-size: 14px;
}
#index-mainBody .main-r .main-r-m .zhuanjia-content li p a {
    display: inline;
    color: #d70303;
}

.main-r-m .pre,
.main-r-m .next {
    position: absolute;
    font-size: 40px;
    color: #dfdfdf;
    cursor: pointer;
    top: 50px;
}
.main-r-m .pre {
    left: 40px;
}
.main-r-m .next {
    right: 40px;
}


#pageNav {
    padding:33px 0 35px 250px;
    border-top: 1px dashed #cecece;
    margin-right: 20px;
    margin-left: 29px;
    margin-top: 70px;
}
#pageNav ul {
    list-style-type: none;
    overflow: hidden;
}
#pageNav ul li {
    display: block;
    height: 22px;
    margin: 0 12px;
    padding: 0 3px;
    float: left;
}
#pageNav ul li a {
    background-color: #EEEEEE;
    color: #797979;
    display: inline;
    padding: 0 3px;
}
#pageNav ul li.thisclass {
    background-color: #919191 !important;
    color: #fff;
}
#pageNav ul li:last-child {
    display: none;
}

