@charset "UTF-8";

#index-mainBody .search {
    margin-bottom: 40px;
}
#index-mainBody .search-l span,
#index-mainBody .search-l a {
    display: inline-block;
    line-height:38px;
}
#index-mainBody .search-l span {
    color: #d75f61;
    padding-left:10px;
}
#index-mainBody .search-l div {
    display: inline;
}
#index-mainBody .search-r input[type="text"] {
    width: 203px;
    border: 1px solid #a6a6a6;
    border-right: none;
    font-size: 16px;
    padding-left:10px;
    padding-top:7px;
    padding-bottom:8px;
    margin-right: -5px;
}
#index-mainBody .search-r input[type="submit"] {
    padding: 9px 15px 8px 28px;
    font-size:16px;
    background-color: #f37548;
    color: #fff;
    cursor: pointer;
}
